{%extends "base.html"%}
{%block title %}Submit{%endblock%}
{%block content %}



<form action="#" method="post">

    <div class="card">
        <div class="card-header" style="background-color: #e8f1f8;">
            <h4>Parcel Data</h5>
        </div>

        <div class="mx-5 mt-3 row">
                <p><input class="form-control" type="text" name="weight" placeholder="Parcel's Weight" required></p>
            
        </div>

        <div class="row mx-4">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header py-3" style="background-color: #dbecf8;">
                        <h5>Sender</h5>
                    </div>
                    <div class="card-body">
                        <form>
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="row mb-4">
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="text" id="form7Example1" class="form-control" name="fromName"
                                            placeholder="Name" required/>
                                    </div>
                                </div>
                            </div>

                            <!-- Text input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="form7Example3" class="form-control" name="fromStreet"
                                    placeholder="Street" required/>
                            </div>

                            <!-- Text input -->
                            <div class=" form-outline mb-4">
                                <input type="text" id="form7Example4" class="form-control" name="fromCode"
                                    placeholder="Postal Code" required/>
                            </div>
                            <!-- Text input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="form7Example3" class="form-control" name="fromCity"
                                    placeholder="City" required/>
                            </div>

                            <!-- Text input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="form7Example4" class="form-control" name="fromCountry"
                                    placeholder="Country" required/>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header py-3" style="background-color: #dbecf8;">
                        <h5>Recipient</h5>
                    </div>
                    <div class="card-body">
                        <form>
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="row mb-4">
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="text" id="form7Example1" class="form-control" name="toName"
                                            placeholder="Name" required/>
                                    </div>
                                </div>
                            </div>

                            <!-- Text input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="form7Example3" class="form-control" name="toStreet"
                                    placeholder="Street" required/>
                            </div>

                            <!-- Text input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="form7Example4" class="form-control" name="toCode"
                                    placeholder="Postal Code" required/>
                            </div>
                            <!-- Text input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="form7Example3" class="form-control" name="toCity"
                                    placeholder="City" required/>
                            </div>

                            <!-- Text input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="form7Example4" class="form-control" name="toCountry"
                                    placeholder="Country" required/>
                            </div>
                    </div>
                </div>
            </div>


            <div class="mx-auto mb-3  row">
                <input class="btn btn-primary" type="submit" value="Send">
            </div>
        </div>
    </div>

    </div>



</form>
{%endblock%}