{%extends "base.html"%}
{%block title %}Track{%endblock%}
{%block content %}
<form action="#" method="post">
    <div class="card">
        <div class="card card-header" style="background-color: #e8f1f8;">
            <h4>Track Parcel</h5>
        </div>
        <div class="mx-auto card-body" >
            <p>Tracking ID:</p>
            <p><input class="form-control" type="text" name="trackingID" placeholder="e.g. ABCD0123" required></p>
            <p><input class="btn btn-primary" type="submit" value="Track Parcel"></p>
        </div>
    </div>
</form>
{%endblock%}